<h2>Update the drone </h2>

<form action="/drones/{{droneToUpdate._id}}/edit" method="post">
    <label for="droneName"></label>
    <input type="text" id="droneName" name="name" value="{{droneToUpdate.name}}">
    <label for="dronePropellers"></label>
    <input type="number" id="dronePropellers" name="propellers" value="{{droneToUpdate.propellers}}">
    <label for="droneMaxSpeed"></label>
    <input type="number" name="maxSpeed" id="droneMaxSpeed" value="{{droneToUpdate.maxSpeed}}">
    <button>Update Drone</button>
</form>